/* ||| dinos.html page styles */


/* quote in the dino detail */
blockquote {
  border-left: 4px solid;
  font-style: italic;
}

/* caption of the dino detail img */
figcaption {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

/* dino list */
#nav-dinos {
  width: 80%;
  margin:auto;
  display: flex;
  flex-basis: content;
  flex-wrap: wrap;
}

/* dino list li */
#nav-dinos li {
  float: left;
}

/* dino list a */
#nav-dinos li a {
  color: var(--my-dark-blue);
}

/* dino list a hovered */
#nav-dinos li a:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

/* carousel images */
.carousel img {
  border: 1px solid var(--my-dark-blue);
  border-radius: 0.5em;
  background-color: rgba(255,255,255, 1);
  max-width: 130px;
}

.carousel img:hover {
  cursor: default;
}
.carousel {
  height: 14em;
}

/* carousel headline */
.carousel a {
  color: var(--my-dark-blue);
  font-weight: 700;
  text-align: center;
  padding-top: 3em;
}

.carousel a:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}


/* link in the dino detail on the card */
div.card-content p a:hover {
  -webkit-text-decoration: underline;
  -webkit-text-decoration: underline;
          text-decoration: underline;
}

/* base badge */
.badge {
  border-radius: 0.5em;
  font-size: 0.8rem;
  font-weight: 700;
}

/* all badge */
.badge.my-orange {
  background-color: var(--my-orange);
  color: var(--my-dark-blue)

}

/* herbivore badge */
.badge.my-green {
  background-color: var(--my-light-green);
  color: var(--my-dark-blue)
}

/* carnivore badge */
.badge.my-red {
  color: var(--my-dark-blue);
  background-color: var(--my-red);
}

/* list links to dinos*/
.dino-link {
  font-weight: 550;
  cursor: pointer;
}

/* list links to dinos in the list*/
#nav-dinos .dino-link {
  border: 0 solid var(--my-dark-blue);
  flex-grow: 1;
  padding: 0.3em;
  margin-right: 0.3rem;
  font-weight: 700;
  background-color: var(--my-green);
  color: var(--my);
}

/* list links to dinos in the list*/
#nav-dinos .dino-link:hover, #nav-dinos .dino-link:focus {
  border: 1 solid var(--my-dark-blue);
  background-color: var(--my-light-green);
}

/* centered dino card */
#centered {
  margin:auto;
  float: none;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

/* || Media */

/* Hide carousel under 400px */
@media only screen and (max-width: 400px) {
  .carousel {
    display: none;
  }

  /* Adding margin due to the missing carousel */
  #nav-dinos {
    margin-top: 4em;
    flex-direction: column;
  }
  
  #nav-dinos .dino-link {
    min-width: 100%;
  }
}

@media (max-width: 800px) {
  #nav-dinos .dino-link {
    width: 35%;
  }
  
}

/* || Quotes colors */

.stego blockquote {
  border-color:  #EC008C;
}

.ankylo blockquote {
  border-color:  #EFE301;
}

.spinos blockquote {
  border-color:  #8A904A;
}

.iguano blockquote {
  border-color:  #D8C8D9;
}

.argentino blockquote {
  border-color:  #7E7A77;
}

.brachio blockquote {
  border-color:  #a95a36;
}

.archeopt blockquote {
  border-color: #FABD30;
}

.amarga blockquote {
  border-color: #AEA9A6;
}

.diplo blockquote {
  border-color: #63638e;
}

.pteranod blockquote {
  border-color: #000000;
}

.tricera blockquote {
  border-color: #90979C;
}

.tyranno blockquote {
  border-color: #8E6238;
}

.apato blockquote {
  border-color: #605531;
}

.veloci blockquote {
  border-color: #9D4C2C;
}

.carno blockquote {
  border-color: #9D4C2C;
}

.parasaur blockquote {
  border-color: #9D4C2C;
}

.allosaur blockquote {
  border-color: #9D4C2C;
}

.amuro blockquote {
  border-color: #d2a999;
}

.condo blockquote {
  border-color: #4b2515;
}

.deino blockquote {
  border-color: #844b32;
}

.galli blockquote {
  border-color: #434241;
}

.lyca blockquote {
  border-color: #bd82c6;
}

.pteroda blockquote {
  border-color: #8e9bde;
}

.therizi blockquote {
  border-color: #9E9087;
}