
/* || Dino list section*/
#nav-dinos {
  width: 80%;
  margin:auto;
}

/* dino list li*/
#nav-dinos li {
  float: left;
  padding-right: 2rem;
}

/* dino list a*/
#nav-dinos li a {
  color: var(--my-dark-blue);
}

/* dino list a hovered*/
#nav-dinos li a:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

/* carousel images */
.carousel img {
  border: 1px solid var(--my-dark-blue);
  border-radius: 5px;
  background-color: rgba(255,255,255, 1);
}

.carousel img:hover {
  cursor: default;
}
.carousel {
  height: 230px;
}

/* carousel headline*/
.carousel a {
  color: var(--my-dark-blue);
  font-weight: 700;
  text-align: center;
  padding-top: 3rem;
}

.carousel a:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

blockquote {
  border-left: 4px solid;
  font-style: italic;
}


/* stegos card*/
.stego {
  border: 1px solid var(--my-dark-blue) ;
  border-radius: 5px;
}

/* stegos card quote border color*/
.stego blockquote {
  border-color:  #EC008C;
}

/* ankylos card*/
.ankylo {
  border: 1px solid var(--my-dark-blue) ;
  border-radius: 5px;
}

/* ankylos card quote border color*/
.ankylo blockquote {
  border-color:  #EFE301;
}

/* link in the dino detail on the card*/
div.card-content p a:hover {
  -webkit-text-decoration: underline;
  -webkit-text-decoration: underline;
          text-decoration: underline;
}

.badge {
  border-radius: 5px;
  font-size: 0.8rem;
  
}

.badge.my-green {
  background-color: var(--my-light-green);
  color: var(--my-dark-blue)
}

.badge.my-red {
  color: var(--my-dark-blue);
  background-color: var(--my-red);
}

.dino-link {
  font-weight: 500;
}

/* centered dino card*/
#centered {
  margin:auto;
  float: none;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}