/* || General quiz styles */
.indicator {
  background-color:rgba(223, 219, 219, 0.4);
  text-align: center;
  border: 1px solid black;
}

/**/
#answers-list li {
  cursor: pointer;
}

#main-card-quiz{
  border: 2px solid black;
  border-radius: 5px;border-radius
}