/* ||| results.html page styles */

/* || General quiz styles */
.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.indicator {
  text-align: center;
  border: 0px solid var(--my-grey-green);
  padding: 2px;
  width: 35px;
  border-radius: 5px;
  margin: 1%;
}

#indicator-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

#main-card-quiz{
  border: 1px solid var(--my-dark-blue);
  border-radius: 5px;
  background: white;
}

#question-container {
  border: 1px solid var(--my-grey-green);
  border-radius: 5px;
  padding: 20px;
  font-weight: 600;
  color: var(--my-yellow-white);
}

.center-content {
  text-align: center;
}

#question-container img {
  border-radius: 5px;
  max-height: 220px;
  max-width: 90%;
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#answers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#answers-list li {
  text-align: center;
  border: 0px solid  var(--my-grey-green);
  border-radius: 5px;
  padding: 20px;
  margin: 1%;
  overflow: hidden;
  background-color: var(--my-light-green);
  font-weight: 500;
  cursor: pointer;
  min-width: 150px;
}

#answers-list li:hover {
  background: var(--my-dark-blue);
  color: var(--my-yellow-white);
}

#game-type, #time {
  font-weight: 700;
}

/* || Questions answers UI - questions, images, indicators */

/* Images and correct ansers texts */
.correct-answers {
  border-right: 1px solid var(--my-dark-blue);
}

.correct-answers i {
  font-size: 1.5rem;
  color: var(--my-grey-green);
}

/* Images and incorrect ansers texts */

.incorrect-answers i {
  font-size: 1.5rem;
  color: var(--my-red);
}

#question-answers-container a {
  color: var(--my-dark-blue);
  font-weight: 600;
}
