/* ||| results.html page styles */

/* || General quiz styles */
.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.indicator {
  text-align: center;
  border: 0px solid var(--my-grey-green);
  padding: 2px;
  width: 35px;
  border-radius:0.5em;
  margin: 1%;
}

#indicator-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

#main-card-quiz{
  border: 1px solid var(--my-dark-blue);
  border-radius: 0.5em;
  background: white;
}

#question-container {
  border: 1px solid var(--my-grey-green);
  border-radius: 0.5em;
  padding: 20px;
  font-weight: 600;
  color: var(--my-yellow-white);
}

.center-content {
  text-align: center;
}

#question-container img {
  border-radius: 0.5em;
  max-height: 220px;
  max-width: 90%;
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#answers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#answers-list li {
  text-align: center;
  border: 0px solid  var(--my-grey-green);
  border-radius: 0.5em;
  padding: 20px;
  margin: 1%;
  overflow: hidden;
  background-color: var(--my-light-green);
  font-weight: 500;
  cursor: pointer;
  min-width: 150px;
}

#answers-list li:hover {
  background: var(--my-dark-blue);
  color: var(--my-yellow-white);
}

#game-type, #time {
  font-weight: 700;
}

/* || Questions answers UI - questions, images, indicators */

/* Questions of the quiz gameTypeId*/
.question {
  color: var(--my-dark-blue);
  font-weight: 600;
  font-size: 1.5rem;
}

/* Images and correct answers texts */
.bordered {
  border: 1px solid var(--my-dark-blue);
  border-radius: 0.5em;
  margin-bottom: 3px;
  font-size: 0.8rem;
}

/* Question in the correct/incorrect overview detail */
.bordered .question {
  font-size: 0.9rem;
}

.correct-answers {
  border: 1px solid var(--my-dark-blue);
  padding: 10px;
  margin: 5px;
  border-radius: 0.5em;
}

.correct-answers i {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: var(--my-grey-green);
}

/* Images and incorrect answers texts */

.incorrect-answers {
  border: 1px solid var(--my-dark-blue);
  padding: 5px;
  margin: 5px;
  border-radius: 0.5em;
}

.incorrect-answers i {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: var(--my-red);
}

#question-answers-container a {
  color: var(--my-dark-blue);
  font-weight: 600;
}

#open-overview-btn {
  border-radius: 0.5em;
}

#overview {
  transition: all 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
  display: flex;
}
#overview.active {
  opacity: 1 !important;
  height: auto;
}

/* Media queries */
@media only screen and (max-width: 600px) {
  #overview {
    flex-direction: column;
    justify-content: center;
  }

  /*Otherwise materialize push them to the right - margin-left in on auto*/
  .incorrect-answers, .correct-answers{
    margin-right: auto !important;
  }
}