/* Background of herbivores dinos games */
.my-green {
  background-color: rgba(92, 255, 124, 0.6);
  padding: 5px;
}

/* Background of carnivores dino games */
.my-red {
  background-color: rgba(236, 81, 81, 0.6);
  padding: 5px;
}

/* Background of all dinos games */
.my-blue {
  background-color: rgba(109, 201, 250, 0.6);
  padding: 5px;
}

/* Sorting keys in the results tables */
.correct-answers-key:hover,.end-time-key:hover {
  cursor: pointer;
  -webkit-text-decoration: underline;
          text-decoration: underline;
}