/* ||| results.html page styles */

/* Results gameId stripes */
.my-red, .my-green, .my-blue-results {
  border-radius: 5px;
  padding: 5px;
  overflow: auto;
}

/* Background of all dinos games */
.my-blue-results {
  background-color: rgba(109, 201, 250, 0.6);
  padding: 5px;
}

/* Sorting keys in the results tables */
.result:hover,.time:hover {
  cursor: pointer;
  -webkit-text-decoration: underline;
          text-decoration: underline;
}

/* Active class for the sorter text */
.active-sorter {
  background: rgba(239, 84, 159, 0.4);
  border-radius: 5px;
}

