/* ||| all html pages styles */

/* || Colors for all pages */
:root {
  --my-dark-blue: #05386b;
  --my-grey-green: #197462;
  --my-green: #5cdb95;
  --my-light-green: #8ee4af;
  --my-orange: #f3bd77;
  --my-red: #f27c92;
  --my-violet: #b5afb9;
  --my-yellow-white: #edf5e1;
}

.my-green {
  background-color: var(--my-green);
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 800;
}

.my-grey-green {
  background-color: var(--my-light-green);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: var(--my-dark-blue);
  font-weight: 800;
}

.my-dark-blue {
  color: var(--my-dark-blue) !important;
}

.my-red {
  background-color: var(--my-red);
  font-weight: 800;
}

.my-violet {
  background-color: var(--my-violet);
}

/* || General styles */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 105%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh; /* footer at the bottom */
  font-family: 'Nerko One', cursive;
  background-color: var(--my-green);
  color: var(--my-dark-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* footer at the bottom */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; /* footer at the bottom */
}

button {
  font-family: inherit;
}

input[type="search"] {
  font-family: inherit;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; /* footer at the bottom */
}

textarea.materialize-textarea {
  height: 12rem;
}

.card .card-title {
  font-size: 1.5rem;
}

.big {
  font-weight: 700;
  font-size: 3rem;
  color: var(--my-yellow-white);
}

.bold {
  font-weight: 800;
}

.bold-light {
  font-weight: 600;
}

.btn {
  background-color: var(--my-grey-green);
  border-radius: 0.5em;
}

.btn:hover,
.btn:focus {
  background-color: var(--my-light-green);
  color: var(--my-dark-blue);
}

.card {
  background-color: var(--my-yellow-white);
  border: 1px solid var(--my-dark-blue);
  border-radius: 0.5em;
  overflow: hidden;
}

.card-content {
  background-color: var(--my-yellow-white);
}

.middle {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--my-yellow-white);
}

.underline {
  text-decoration: underline;
}

/* || General helpers  */

/* general moved padding to right */
.moved-to-right {
  font-size: 14px;
  padding-left: 1.5rem;
}

/* general top margin class 0.7 rem */
.margin-top-1em {
  margin-top: 1em;
}

/* general top margin class 0.7 rem */
.margin-top-07rem {
  margin-top: 0.7rem;
}

/* general top margin class 2 rem */
.margin-top-2rem {
  margin-top: 2rem;
}

/* general top margin class 4 rem */
.margin-top-4rem {
  margin-top: 4rem;
}

/* general bottom margin class 4 rem */
.margin-bottom-4rem {
  margin-top: 4rem;
}

/* || Main navbar styles */

a.brand-logo {
  margin-left: 1rem;
  font-weight: 800;
  font-size: 2rem;
}

/* hamburger icon color */
i.fa-bars {
  color: var(--my-dark-blue);
}

/* hamburger icon margin*/
.fas {
  margin-right: 2rem;
}

/* icon in the navbar*/
#ikona {
  max-width: 35px;
}

/* search input */
input#search {
  color: var(--my-dark-blue);
  border-radius: 0.5em;
}

/* search input */
input[type='search'] {
  height: 3.5em !important;
}

/* search div background color - materialize changed */
input[type='search']:not(.browser-default) {
  background-color: var(--my-yellow-white);
}

.my-green-nav {
  overflow: visible;
  background-color: var(--my-green);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* main navbar */
#nav-mobile {
  width: 80%;
}

nav div #nav-mobile > li:first-child {
  padding-right: 10%;
  padding-left: 5%;
}

nav div #nav-mobile > li > a {
  padding-right: 1rem;
}

nav ul a {
  color: var(--my-dark-blue);
  font-weight: 900;
}

/* search field label color */
nav .input-field label {
  color: var(--my-dark-blue);
  top: -10px;
  left: 10px;
}

/* search field label icon */
nav .input-field label i {
  color: var(--my-dark-blue);
}

/* search field label icon active */
nav .input-field label.active i {
  color: var(--my-dark-blue);
}

/* main navbar ul width */
#quiz,
#recognize {
  width: 10rem;
}

#quiz > li > a,
#recognize > li > a {
  color: var(--my-dark-blue);
  background-color: var(--my-green);
}

#quiz > li > a:hover,
#recognize > li > a:hover {
  background-color: var(--my-yellow-white);
}

#mobile li {
  font-weight: 900;
}

#mobile li a {
  color: var(--my-dark-blue);
}

li.last-lis a {
  font-weight: 900;
}

li.first-li a {
  font-weight: 900;
  padding-left: 24px;
}

/* Search input font color */
::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--my-dark-blue);
  opacity: 1; /* Firefox */
}

::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--my-dark-blue);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--my-dark-blue);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--my-dark-blue);
  opacity: 1; /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--my-dark-blue);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--my-dark-blue);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--my-dark-blue);
}

/* || Footer styles section */

.page-footer a {
  font-weight: 800;
  font-size: 0.8rem;
}

.page-footer a:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.page-footer a {
  font-size: 0.9rem;
  color: var(--my-dark-blue);
}

.page-footer li {
  padding: 0.3em;
  text-align: center;
}

.footer-green {
  background-color: var(--my-light-green);
}

/* || Animations */

@-webkit-keyframes alerting {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-0.5rem);
    transform: translateX(-0.5rem);
  }
}

@keyframes alerting {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-0.5rem);
    transform: translateX(-0.5rem);
  }
}

#arrows-alert {
  display: inline-block;
  -webkit-animation: alerting 1.5s ease-in infinite;
  animation: alerting 1.5s ease-in infinite;
}

/* || Materializce change */

/* Dropdown links to fit its div */
.dropdown-content {
  overflow: visible;
}

/* Media queries */

@media only screen and (max-width: 350px) {
  #ikona {
    display: none;
  }
}

/* Materialize fix 1px white under li elements in the navigation ul */
.dropdown-content li > a,
.dropdown-content li > span {
  padding-bottom: 15px;
}
